
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover {
    color: #999;
}

nav {
    align-items: center;
    justify-content:space-between;
    padding: 0px 70px;
    height: 70px;
    background-color: #fff;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav .left .logo img {
    width: auto;
    height: 60px;
    padding-top: 5px;
    object-fit: cover;
}

nav .left .links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}

nav .buttons {
    display: flex;
    gap: 14px;
}

nav .buttons a {
    background-color: #eaf4f4;
    padding: 10px;
    color: #2d6a4f;
    border-radius: 50%;
    font-size: 18px;
}